################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AliyunHelper/bin/Debug
/AliyunHelper/obj/Debug
/Common/bin/Debug
/Common/obj/Debug
/DbOpertion/bin/Debug
/DbOpertion/obj/Debug
/packages
/GZRYVillageWeb/bin
/GZRYVillageWeb/obj/Debug
