<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("HeadCss", required: false)
    <script src="~/Content/lib/js/jquery-3.2.1.js"></script>
    @RenderSection("HeadScript", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>