
@{
    ViewBag.Title = "LevelCouponPage";
    //Layout = "~/Views/Shared/LeftPartPage.cshtml";
}
@section TitleName{
    <li>会员等级管理</li>
    <li class="active"><a href="../MemberShipLevel/LevelIndex">各类会员等级</a></li>
    <li class="active">等级优惠信息</li>
}

@section js{
    <script src="~/Content/lib/js/jquery-3.2.1.js"></script>
    @*<script src="~/Content/js/Shade.js"></script>*@
    <script src="~/Content/js/wangEditor.min.js"></script>
    <script src="~/Content/js/MembershipLevel/LevelCouponPage.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />

}

<input type="hidden" id="Hidden_MembershipLevelId" value="@ViewBag.MembershipLevelId" />
<input type="hidden" id="Hidden_Search" />
<div>
    请注意图片会在上传是变成百分比宽度
</div>
<!--demo-->
<div style="text-align:left;">
    <div id="divDemo"><p>欢迎使用<b>wangEditor 富文本编辑器</b>，请输入内容...</p></div>
</div>
<!--demo end-->
<script>

</script>