
@{
    ViewBag.Title = "Consumption";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>用户管理</li>
    <li class="active"><a href="../User/Index">会员列表</a></li>
}

@section js{
    <script src="~/Content/js/Shade.js"></script>
    <script src="~/Content/js/User/Index.js"></script>
    <script src="~/Content/js/DateTime/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/DateTime/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Content/js/DateTime/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Content/js/DateTime/jquery.ui.datepicker-zh-CN.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/User/Index.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />
    <link href="~/Content/css/DateTime/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/SearchTime.css" rel="stylesheet" />
}

@section Li_User
{
    active
}
<input type="hidden" id="Hidden_UserId" value="@ViewBag.UserId" />
<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-right" id="DateTimeDiv">
                    <button id="search2" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i>消费时间</button>
                    <input type="text" placeholder="结束日期" name="CreateEndDate" id="CreateEndDate" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-right" id="DateTimeDiv">
                    <input type="text" placeholder="开始日期" name="CreateStartDate" id="CreateStartDate" class="form-control pull-right Search-Input">
                </div>
            </div>
            <table id="User" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="PayRecordId" data-visible="false">消费记录Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="StoreID" data-visible="false">购物店Id</th>
                        <th data-data="ShopItem">购物店名称</th>
                        <th data-data="ShopMoney">消费金额</th>
                        <th data-data="ShopTime">消费时间</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        //获取时间
        $("input[name='CreateStartDate'],input[name='CreateEndDate']").datetimepicker();
        var userTable = $('#User').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_Consumption_List", "UserAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.UserId = $("#Hidden_UserId").val();
                    data.SearchKey = $("#search-Input").val();
                    return JSON.stringify(data);
                }
            },
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            },
            {
                "targets": -1,
                "width": "200px",
                render: function (data, type, full, meta) {
                    var str = FormatDate(data);
                    return str;
                }
            }]
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });
    });

</script>




